<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icons.css">
    <link rel="stylesheet" href="style.css">
    <title>Iago Mosquera | CV</title>
</head>

<body>
    <div class="cv">
        <div class="main-section">
            <h1 class="name">{{name}}</h1>
            <h2>{{jobtitle}}</h2>
        </div>
        <div class="heading main-section">
            <p class="blurb">{{blurb}}</p>
        </div>
        <div class="contact side-section">
            <ul>
                <li><i class="icon icon-phone"></i> {{contact.tlf}}</li>
                <li><i class="icon icon-mail"></i> {{contact.email}}</li>
                <li><i class="icon icon-sphere"></i> {{contact.homepage}}</li>
                <li><i class="icon icon-location"></i> {{contact.location}}</li>
            </ul>
        </div>
        <!-- <hr></hr> -->
        <!-- MAIN SECTION -->
        <div class="main-area main-section">
            {% for cat in milestones %}
            <h2>{{cat.title}}</h2>
            <div class="textarea">
                <table class="milestone">
                    {% for item in cat.content %}
                    <tr>
                        <td>{{item.period}}</td>
                        <td>
                            <h4>{{item.name}}</h4>
                            {% if 'role' in item %}<h5>{{item.role}}</h5>{% endif %}
                            <p>{{item.blurb}}</p>
                            {% if 'competences' in item %}
                            <h5>Competences</h5>
                            <p>{{item.competences | join(', ')}}</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {%endfor%}
            <!-- ADDITIONALS -->
            {% for cat in adds %}
            <h2>{{cat.title}}</h2>
            <div class="textarea">
                <ul>
                    {%for item in cat.content%}
                    <li>{{item}}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        {%endfor%}
        <!-- SKILLS -->
        <div class="side-area side-section">
            <h2>Skills</h2>
            {% for cat in skills %}
            <div class="textarea">
            <h3>{{cat.title}}</h3>
            <table class="skill">
                {% for item in cat.content %}
                <tr>
                    <td>{{item.name}}</td>
                    <td class="pips">
                        {%for pip in range(item.lvl)%}
                        <span class="pip pip-on"></span>
                        {% endfor%}
                        {%for pip in range(5 - item.lvl)%}
                        <span class="pip pip-off"></span>
                        {% endfor%}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
            {% endfor %}
            {% for cat in unranked %}
            <div class="textarea">
            <h3>{{cat.title}}</h3>
            <div class="unranked">
                <ul>
                    {% for item in cat.content %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
            </div>
            {% endfor %}
        </div>


        <footer class="full-section">
            <p>This résumé was generated on {{gen_date}}</p>
            <p>Check the source code at <img src="assets/img/qrcode.svg" alt="Source code"></p>
        </footer>
    </div>
</body>

</html>
