/* RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* FONT DECS */

@font-face {
  font-family: 'Share Tech';
  src: url('assets/fonts/ShareTech-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* DIRECTIVES */

@page {
  size: a4 portrait;
  margin: 3mm;
}

@media print {
  .insert-pb {
    clear: both;
    page-break-after: always;
  }

  .avoid-pb {
    page-break-after: avoid;
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}

/* STYLES */

:root {
  --color-text: black;
  --border-color: black;
  --border-size: 2px;
  --color-text-muted: #a6a6a6;
}

h3 {
  padding-bottom: 0.5rem;
}

.cv {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: 'Rubik';
  color: var(--color-text);
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main-area {
  border: var(--border-size) solid var(--border-color);
}

.name {
  font-family: 'Share Tech';
  font-size: 32pt;
}

.text-sm {
  font-size: small;
}

.mb {
  margin-bottom: 0.5rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.horizontal {
  display: flex;
}

.pad-text {
  padding: 1rem;
}

.pad-compact {
  padding: 0.5rem;
}

.muted {
  color: var(--color-text-muted);
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.border-l {
  border-left: var(--border-size) solid var(--border-color);
}

.border-t {
  border-top: var(--border-size) solid var(--border-color);
}

.content-between {
  justify-content: space-between;
}

.img-right {
  position: relative;
  right: 1rem;
}

.section-header {
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-family: 'Share Tech';
}

.top-align td {
  vertical-align: top;
}

.pip:before {
  content: '◆';
}

.pip-on {
  color: var(--color-text);
}

.pip-off {
  color: var(--color-text-muted);
}
